
$main-blue: #2174ea;
$pale-blue: #5c9fff;
$light-blue: #007bff;
$dull-blue: #164798;
$dark-blue: #314a71;
$black: #333;

$blank: #fff;
$dim-grey: #eee;
$pale-grey: #ccc;
$faded-grey: #b5b5b5;
$light-grey: #808080;
$dark-grey: #696969;

$error: #ff8370;
$error-clear: #7e1616;
$success: #00be84;
$unclear: #febc70;
$danger: #ff725d;
$warning: #ffbc70;

$font-minor: 16px;
$font-regular: 18px;
$font-great: 20px;
$font-grand: 22px;
$font-spacious: 32px;
$font-big: 42px;
$font-huge: 48px;
